body{
	background: #9d9d9d;
	color: white;
}



button{
	background: #2d2d2d;
	color: white;
	padding: 10px 5px;
	text-align: center;
	width: 100%;
	border-color: none;
}

button:hover {
	background-color: #1d1d1d;
}

button:active {

	background-color: #2d2d2d;
}

ul{
	width: 100%;
}

li{
	list-style: none;
	text-align: center;
	font-size: 2em;
}

.city {
	font-size: 1em;
	text-align: center;
}

.currently{
	font-size: 1em;
	text-align: center;
	margin-bottom: 20px;
}



.low,
.high {
	font-size: 2em;
	padding: 2em;
}


h1{
	color: #2d2d2d;
	font-weight: bold;
	text-align: center;
	margin-top: 50px;
}

p{
	text-align: center;

}

img{
	display: inline-block;
	margin-left: 50px;
	max-height: 100%;
	width: auto;
	vertical-align: middle;
}



